DELIVEROOJS_URL=https://deliveroojs.bears.disi.unitn.it
DELIVEROOJS_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjBhNTgyZCIsIm5hbWUiOiJtYXJjbyIsInJvbGUiOiJ1c2VyIiwiaWF0IjoxNzczODQ3MjQxfQ.6no1FuNTkhe-y3Ge5Nt0Faj2CAmnyRX3gEjE5aF6GuI
LITELLM_BASE_URL=https://llm.bears.disi.unitn.it
LITELLM_API_KEY=sk-